@charset 'utf-8';

// Helpers Styles
@import "helpers/_mixins";
@import "helpers/_variables";

// Base Styles
@import "base/_normalize";
@import "base/_base";
@import "base/_typography";

// Components Styles
@import "components/_buttons";
@import "components/_forms";
@import "components/_navigation";

// Layout Styles
@import "layout/_header";
@import "layout/_footer";

// Sections Styles
@import "sections/_index";
@import "sections/_about";
@import "sections/_associations";
@import "sections/_certifications";
@import "sections/_contact";
@import "sections/_Project_landing";
@import "sections/_Project1";
@import "sections/_Project2";
@import "sections/_Project3";
@import "sections/_resume";
@import "sections/_services";

 
  #main-grid-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 16px auto 16px;
    grid-template-columns: 16px auto 16px;
        grid-template-areas: ". content .";
  }
  @media (min-width: 1440px) {
    #main-grid-content {
      -ms-grid-columns: auto 1440 auto;
      grid-template-columns: auto 1440 auto;
    }

    // Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;
 
// Small tablets
$screen-md-min: 768px;
 
// Large tablets and small desktops
$screen-lg-min: 1024px;
 
// Large desktops
$screen-xl-min: 1200px;
 
// Large desktops
$screen-xxl-min: 1440px;

  }
  #main-grid-content #main-grid-item {
    grid-area: index-content;
  }
  #main-grid-content #main-grid-item #sarah1 {
    max-width: 100%;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    margin: 20px auto;
    padding: 50px;
    max-width: 80%;
    background-color: #cbe0e3;
  }

  //desktop view//
  .grid-container {
    background-color: #fffef8;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  footer {
    background: #fffef8; 
    padding: 20px;
    text-align: center;
  }

  .profile-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    margin-right: 20px;
  }

  .profile-image {
    width: 200px; 
    max-width: 100%; 
    height: auto; 
    border-radius: 50%; 
  }

  #footer {
    text-align: center;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
    display: inline-block;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons a {
    color: #000; 
    text-decoration: none;
  }
  
  p {
    margin: 10px 0;
  }
 
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo {
    width: 120px;
    height: 89px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    text-decoration: none;
    color: #000; 
  }

  /* Styles for the links */
a:link,
a:visited {
  color: #2c474b;
  text-decoration: none;
}

a:hover {
  color: #0a8ea0;
  text-decoration: underline;
}

a:active {
  color: #8cad55;
  text-decoration: none;
}
