/* =============
    associations
============= */
.header-container {
    text-align: center;
    margin-top: 20px;
    
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px;
}

.box {
  background-color: #ffffff;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.container {

a:link {
    color: #2c474b; 
    text-decoration: none; 
  }
  
  a:visited {
    color: #535c5e; 
    text-decoration: none; 
  }
  
  a:hover {
    background-color: #67969c; 
    text-decoration: underline;
    border: 1px solid #808e9c

  }
  
  a:active {
    color: #8cad55; 
    text-decoration: none;
  }
  
  a {
    padding-right: 5px;
  }
}
  
.navbar-links a:link {
    color: #2c474b; 
    text-decoration: none; 
  }
  
  a:visited {
    color: #535c5e; 
    text-decoration: none; 
  }
  
  a:hover {
    color: #0a8ea0; 
    text-decoration: underline; 
  }
  
  a:active {
    color: #8cad55; 
    text-decoration: none;
  }
  
  a {
    padding-right: 5px;
  }
  