/* =============
    Index
============= */

#main-grid-content{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

    #main-grid-item{
        grid-area-index-content;
        #sarah1{
            max-width: 100%;
    }
}

}