/* =============
    Index
============= */
#index-right{

    h1{
       padding-bottom: 10px 
    }
    h3{ 
        padding-bottom: 10px

    }
}

#main-grid-content{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

    @include xxl{
        grid-template-columns: auto 1440 auto;
    }

    #main-grid-item{
        grid-area: index-content;
        #sarah1{
            max-width: 100%;
    }
}

}

