/* =============
    Services
============= */

body {
    background-color: #fffef8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .proj-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
  .box {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    text-align: center;
  }
  
  .box img{
      max-width:100%;
      height: 300px;
      object-fit: cover;
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .box p{
    font-size: 20px;
  }