/* =============
    Header
============= */
header {
  padding: 0;
  background: #fffef8; 

  h1 {
    margin: 0;

    img {
      padding: 10px 0 0 10px;
      margin-bottom: -25px;
    }
  }
}

.horizontal-list {
  list-style: none; 
  display: flex; 
}

.horizontal-list li {
  margin-right: 10px;
}

a:link {
  color: #2c474b; 
  text-decoration: none; 
}

a:visited {
  color: #535c5e; 
  text-decoration: none; 
}

a:hover {
  color: #0a8ea0; 
  text-decoration: underline; 
}

a:active {
  color: #8cad55; 
  text-decoration: none;
}

a {
  padding-right: 5px;
}

