/* =============
    Base
============= */
body {
  background-color: #fffef8;
}

header {
  height: 122.5px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px;
}

.content-grid {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". content .";

  .content-grid-item {
    grid-area: content;
  }
}

#section-id-footer {
  .social-icons {
    li {
      display: inline-block;
      margin-right: 10px;
    
      //love // hate
      a:link,
      a:visited {
        color: var(--black);
        text-decoration: none;
      }
      
      a:hover,
      a:activate {
        color: var(--#CBE0E3);
      }
    }
  }
}

